/* ================= FOOTER ================= */
.footer {
  background: #fff;
  padding: 100px 20px 60px;
  position: relative;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGO */
.footer-logo h1 {
  margin-bottom: 10px;
}

.footer-logo img {
  max-width: 120px;   /* adjust if needed */
  height: auto;
  display: block;
  margin: 0 auto;     /* centers the image */
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.footer-social a {
  width: 50px;
  height: 50px;
  background: #ff5722;
  color: #fff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #e64a19;
  transform: translateY(-3px);
}

/* COPYRIGHT */
.footer-copy {
  font-size: 14px;
  color: #555;
}

.footer-copy span {
  color: #ff5722;
  font-weight: 600;
}

/* SCROLL TO TOP */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 45px;
  height: 45px;
  background: #ff5722;
  color: #fff;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  text-decoration: none;
}
