
/* HEADER/NAV */
.header {
   background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 15px 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #ff6a00;
  letter-spacing: 2px;
}

.logo img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 35px;
}

.nav-link {
  color: white;
  font-size: 1em;
  transition: 0.3s;
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  color: #ff6a00;
}