
.btn {
  background: #ff6a00;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s;
}

.btn:hover {
  background: #ff8c33;
}

.btn-outline {
  background: transparent;
  border: 2px solid #ff6a00;
  color: white;
  padding: 10px 20px;
}

.btn-outline:hover {
  background: #ff6a00;
}

.btn-play {
  background: #ff6a00;
  width: 45px;
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
