.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px #ddd;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px #ccc;
}

.card-icon {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ff6a00;
}

.card h3 {
  color: black;
}
