* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  padding: 60px 10%;
}

h2 {
  font-size: 2em;
  color: #2f3b47;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ff6a00;
}
